footer
    h3 Contact Us
    .flex-container
        a(href="https://www.facebook.com/sukh.batth.146/") 
            i.fab.fa-facebook-f
        a(href="https://www.instagram.com/sukh.batth/") 
            i.fab.fa-instagram
        a(href="https://www.linkedin.com/in/sukhraj-singh-108aaa170") 
            i.fab.fa-linkedin-in

    .icon
        a(href="/")
            img(src="/images/icons/logo.png", alt="", srcset="")
    
