extends base
block content
    footer
    .flex-container.links
        a(href='')
        i.fab.fa-facebook-f
        a(href='')
        i.fab.fa-instagram
        a(href='')
        i.fab.fa-github
    div
        a.logo(href='/')
        img(src='/LOGO.png' alt='' srcset='')
    h4 by
    h2  Sukhraj Singh
