footer
  .link-icons
    a(href='')
      i.fab.fa-facebook-f
    a(href='')
      i.fab.fa-instagram
    a(href='')
      i.fab.fa-twitter
    a(href='')
      i.fab.fa-youtube
  a(href='/')
    img(src='./../logo.png' alt='' srcset='')
  p Get All Latest Products
