header.flex-container
  a.logo(href='/')
    img(src='/images/icons/logo.png' alt='')
  nav.flex-container
    a(href='/shop?category=Laptops') Laptops
    a(href='/shop?category=Mobiles') Mobiles
    a(href='/shop?category=Accessories') Accessories 
    a(href='/shop') All
    i.far.fa-times-circle.close-menu
  .buttons.flex-container
    if user
      #product-cart-btn
        a(href='/mycart') 
          i.fas.fa-shopping-cart
          div#cart-qty= user.cart.length
    #user-btn.drop-down
      #current-user.flex-container
        if user
          a(href='/me').flex-container.profile-link
            img(src=`/images/users/${user.photo}` alt='')
            span.user-name #{user.name.split(' ')[0]}
        else
          a(href='/login') Login
        i.fas.fa-ellipsis-v.icon-more
        i.fas.fa-bars.bars
      .drop-down-content
        if user
          div 
            a(class='logout-btn') Logout
        else
          a(href='/signup') Signup
        
