header.flex-container
  nav
    a.logo(href='/')
      img(src='/LOGO.png' alt='' srcset='')
    a(href='/shop') All
    a(href='/') Laptop
    a(href='/') Mobiles
    a(href='/signup') About
  .buttons.flex-container
    .fav-button
      a(href='')
        i.far.fa-heart
    .cart-button
      a(href='')
        i.fas.fa-shopping-cart
    .profile-button.dropdown
      div
        span.username
          if user
            img(src='me.JPG' alt='')
            | #{user.name}
          else 
            a(href='/login') Login
      .dropdown-content
        if user
          a(href='/') Profile
          a(href='/') Logout
        else
          a(href='/') Sign Up
