header.flex-container
  nav
    a.logo(href='/') Logo
    a(href='/shop') shop
    a(href='/logout') logout
    a(href='/login') login
    a(href='/signup') signup
    a(href='/me') me
  .buttons.flex-container
    .fav-button
      a(href='')
        i.far.fa-heart
    .cart-button
      a(href='')
        i.fas.fa-shopping-cart
    .profile-button
      .dropdwon
        span.username
          img(src='me.JPG' alt='')
          if user
            | #{user.name}
          else
            | Login please
