header
  nav
    a(href='/') Logo
    a(href='/') Home
    a(href='/shop') Shop
    a(href='') Contact
    a(href='') About
  .info
    a(href='')
      i.far.fa-heart
    a(href='')
      i.fas.fa-shopping-cart
    .drop-down
      a
        i.fas.fa-user-circle
        if user
          span= user.name
        else 
          a(href='login') Login
      .drop-down-content
        if user 
          a(href='logout') Logout
          a(href='me') Profile
        else
          a(href='signup') Signup
