header
        a#homepage(href='/')
            img(src='./default.png' alt='' srcset='')
        nav
            a(href='') Home
            a(href='/login') Login
            a(href='/logout') logout
            a(href='') Contact
            button
                i.fas.fa-shopping-cart
                sup 2
        #profile
            i.fas.fa-user-circle
            p.username Sukh