header.flex-container
  nav.flex-container
    a.logo(href='/')
      img(src='/logo.png' alt='')
    a(href='/shop') Laptops
    a(href='#') Mobiles
    a(href='/shop') All
    a(href='#') About
  .buttons.flex-container
    #wish-cart-btn
      i.fas.fa-heart
    #product-cart-btn
     a(href='/mycart') 
      i.fas.fa-shopping-cart
    #user-btn.drop-down
      #current-user.flex-container
        if user
          img(src='/default.jpg' alt='')
          span.user-name= user.name
        else
          a(href='/login') Login
      .drop-down-content
        if user
          div 
            a(href='/me') Profile
            a(class='logout-btn') Logout
        else
          a(href='/signup') Signup
        
