html(lang="en")
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
            script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
            script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
            link(rel='stylesheet' href='/style.css')
            script(src="/js/index.js" type="module" defer)
            script.
                - document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +':35729/livereload.js?snipver=1"></' + 'script>')
            title Document
    body
        include _header
        block body
        #alert-dialog
            h3 Lorem ipsum dolor sit amet.
        #notify-dialog
            p Lorem ipsum dolor sit amet.