extends base
block body
    main
        #forgetPassword
            form.form#forgetPassword-form
                h1 Forget Password
                p.centre Enter your email to find your account and reset your password
                label(for='email')
                    p Email
                    .input-wrap
                        i.fas.fa-envelope
                        input#email(type='text' )
                button#send-token-btn Send Token
