extends base
block body
    main
        #forgetPassword
            form.form#forgetPassword-form
                h1 Forget Password
                p A password token will be sent to your email. Use that token to reset your password. Token is valid only for 10 mins
                label(for='email')
                    p Email
                    .input-wrap
                        i.fas.fa-user-alt
                        input#email(type='text' )
                button#send-token-btn Send Token
