extends base
block body
    main
        #add.flex-container
            .add-detail
                a(href='/shop') Buy
                h1 Get All Laptops At 30% Discount
            .add-image
                 img(src='/surfacebook.jpg' alt='' srcset='')
        #alert-dialog
            h3 Lorem ipsum dolor sit amet.

