extends base
block body
    #add-wrap
        img(src="/images/index.jpg", alt="")
        #add
            div
                a(href='/shop') Buy
                h1 Get All Products At 30% Discount
        
        
        