extends base
block body
    #add-wrap
        video(src="/video.mp4" autoplay loop)
        #add
            div
                a(href='/shop') Buy
                h1 Get All Laptops At 30% Discount
        
        
        