extends base
block body
    #add-wrap
        img(src="/images/index.jpg", alt="")
        #add
            div
                a(href='/shop') Buy
                h1 Get All Products At 30% Discount
    h1.heading.centre Find All your Products
    #featured
        div
            img(src="/images/laptop.jpg", alt="")
            .top
                div
                    a(href="/shop?category=Laptops") Laptops
        div
            img(src="/images/mobiles.jpg", alt="")
            .top
                div
                    a(href="/shop?category=Mobiles") Mobiles
        div.accessories
            img(src="/images/accessories.jpg", alt="")
            .top
                div
                    a(href="/shop?category=Accessories") accessories
        
        
        
        
        
        
        