extends base
block content
    form#login-form
        input(type="text",id="email",placeholder="email")
        br
        input(type="text",id="password",placeholder="password")
        br
        button Login
