extends base
block body
    main
        #resetPassword
            form.form#resetPassword-form
                h1 Update Password
                label(for='tempPassword')
                    p Temp Password
                    .input-wrap
                        i.fas.fa-user-alt
                        input#tempPassword(type='text' )
                label(for='password')
                    p Password
                    .input-wrap
                        i.fas.fa-key
                        input#password(type='text' )
                label(for='confirmPassword')
                    p Confirm Password
                    .input-wrap
                        i.fas.fa-key
                        input#confirmPassword(type='text' )
                button#resetPassword-btn Update Password
