<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</head>

<body>
    <header class="flex-container">
        <nav class="flex-container">
            <a href="/" class="logo">
                <img src="logo.png" alt="">
            </a>
            <a href="/shop">Laptops</a>
            <a href="#">Mobiles</a>
            <a href="/shop">All</a>
            <a href="#">About</a>
        </nav>
        <div class="buttons flex-container">
            <div id="wish-cart-btn"><i class="fas fa-heart"></i></div>
            <div id="product-cart-btn"><i class="fas fa-shopping-cart"></i></div>
            <div id="user-btn" class="drop-down">
                <div id="current-user" class="flex-container">
                    <a href="/login">Login</a>
                    <!-- <img src="default.jpg" alt="">
                    <span class="user-name">Sukh</span> -->
                    </>
                </div>
                <div class="drop-down-content">
                    <a href="#">Profile</a>
                    <a href="#">Signup</a>
                    <a href="#">Logout</a>
                </div>
            </div>
    </header>
    <!-- 



 -->

    <!-- here -->
    <main>
        <h1>All Products</h1>
        <div id="all-products" class="flex-container">
            <% for ( let i = 0; i < products.length; i++ ) { %>
            <div class="product">
                <img src='/images/<%= products[i].coverImage%>.jpg' alt="">
                <div>
                    <h2 class="name"><%- products[i].name %> </h2>
                    <div class="rating">
                        <%= Math.round(products[i].avgRating) %>
                        <% for( let index = 0; index< 5; index++ ) { %>
                        <i class="fas fa-star active"></i>
                        <% } %>
                    </div>
                    <div class="flex-container">
                        <h2 class="price">$<%- products[i].price %> </h2>
                        <h2>
                            <a href="">View</a>
                        </h2>
                    </div>
                    <h2 class="add-to-cart">
                        <i class="fas fa-shopping-basket"></i>
                        Add to Cart
                    </h2>
                </div>
            </div>
            <% } %>
        </div>
    </main>



</body>

</html>