extends base
block content
    h2 Shop
    #products
        each product in products
            .product
                img(src=`/images/${product.images[0]}.jpg` alt='')
                h2= product.name
                h3
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                a(href=`/product/${product.slug}`) View
                button Add to cart

