extends base
block body
    main
        form.form.signup
            h1 Signup to iCon
            label(for='image-input' id='image-label')
                img(src="../images/users/default-user.png", id="selected-image")
                input(type='file' id="image-input")
            label(for='name')
                p Name
                .input-wrap
                    i.fas.fa-user-alt
                    input(type='text' id="name")
            label(for='email')
                p Email
                .input-wrap
                    i.fas.fa-user-alt
                    input(type='text' id="email")
            label(for='password')
                p Password
                .input-wrap
                    i.fas.fa-key
                    input(type='text' id="password")
            label(for='confirmPassword')
                p Confirm Password
                .input-wrap
                    i.fas.fa-key
                    input(type='text' id="confirmPassword")
            button Signup
            .link
                | Already have account? 
                a(href='/login') Signin
