extends base
block content
    form#signUp-form
        input(type="text",id="name",placeholder="name")
        br
        input(type="text",id="email",placeholder="email")
        br
        input(type="text",id="password",placeholder="password")
        br
        input(type="text",id="confirmPassword",placeholder="confirmPassword")
        br
        button Login
