extends base
block content
    .form-content
        .form-wrap
            h1 Signup to new Account
            form#signup-form
                label(for='name')
                    h4 Name
                    input#name(type='name' name='')
                label(for='email')
                    h4 Email
                    input#email(type='email' name='')
                label(for='password')
                    h4 Password
                    input#password(type='password' name='')
                label(for='password')
                    h4 Password
                    input#confirmPassword(type='password' name='')
                a(href='') Forget password?
            button#signUpBtn Sign UP
            .links
                a(href='') Privacy Policy
                a(href='') Terms &amp; Conditions
        .go-to.go-to-signup
            a(href='/signup') Go to Signup
