extends base
block body
    main
        #updatePassword
            form.form#updatePassword-form
                h1 Update Password
                label(for='tempPassword')
                    p Old Password
                    .input-wrap
                        i.fas.fa-user-alt
                        input#oldPassword(type='text' )
                label(for='password')
                    p Password
                    .input-wrap
                        i.fas.fa-key
                        input#password(type='text' )
                label(for='confirmPassword')
                    p Confirm Password
                    .input-wrap
                        i.fas.fa-key
                        input#confirmPassword(type='text' )
                button#updatePassword-btn Update Password
