<header class="flex-container">
    <nav class="flex-container">
        <a href="/" class="logo">
            <img src="logo.png" alt="">
        </a>
        <a href="/shop">Laptops</a>
        <a href="#">Mobiles</a>
        <a href="/shop">All</a>
        <a href="#">About</a>
    </nav>
    <div class="buttons flex-container">
        <div id="wish-cart-btn"><i class="fas fa-heart"></i></div>
        <div id="product-cart-btn"><i class="fas fa-shopping-cart"></i></div>
        <div id="user-btn" class="drop-down">
            <div id="current-user" class="flex-container">
                {{#if user}}
                <img src="default.jpg" alt="">
                <span class="user-name">Sukh</span>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </div>
            <div class="drop-down-content">
                {{#if user}}
                <a href="/me">Profile</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/signup">Signup</a>
                {{/if}}

            </div>
        </div>
    </div>
</header>