<main>
    <div id="add" class="flex-container">
        <div class="add-detail">
            <a href="/shop">Buy</a>
            <h1>Get All Laptops At 30% Discount</h1>
        </div>
        <div class="add-image">
            <img src="/surfacebook.jpg" alt="" srcset="">
        </div>
    </div>
</main>

<div id="alert-dialog">
    <h3>Lorem ipsum dolor sit amet.</h3>
</div>