<main>
    <form class="form login">
        <h1>Signin to iCon</h1>
        <label for="email">
            <p>Email</p>
            <div class="input-wrap">
                <i class="fas fa-user-alt"></i>
                <input type="text" id="email">
            </div>
        </label>
        <label for="password">
            <p>Password</p>
            <div class="input-wrap">
                <i class="fas fa-key"></i>
                <input type="text" id="password">
            </div>
        </label>
        <div class="link"><a href="/forgetPassword"> Forget Password</a></div>
        <button id="login-btn">Login</button>
        <div class="link">Do not have account? <a href="/signup">Signup</a></div>
    </form>
</main>