<main>
    <form class="form login">
        <h1>Signup to iCon</h1>
        <label for="name">
            <p>Name</p>
            <div class="input-wrap">
                <i class="fas fa-user-alt"></i>
                <input type="text">
            </div>
        </label>
        <label for="email">
            <p>Email</p>
            <div class="input-wrap">
                <i class="fas fa-user-alt"></i>
                <input type="text">
            </div>
        </label>
        <label for="password">
            <p>Password</p>
            <div class="input-wrap">
                <i class="fas fa-key"></i>
                <input type="text">
            </div>
        </label>
        <label for="confirmPassword">
            <p>Confirm Password</p>
            <div class="input-wrap">
                <i class="fas fa-key"></i>
                <input type="text">
            </div>
        </label>
        <button>Signup</button>
        <div class="link">Already have account? <a href="/login">Signin</a></div>
    </form>
</main>