<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <div id="my-profile">
            <div id="bio">
                <img src="../../images/Acer Aspire 5/Acer Aspire 5-1.jpg" alt="">
                <h1>Sukhraj Singh</h1>
                <h2>sukhbatth6062@gmail.com</h2>
            </div>
            <form id="signup-form">
                <h2>Update Info</h2>
                <label for="photo">
                    <h4>Photo</h4>
                    <input id="photo" type="file">
                </label>
                <label for="name">
                    <h4>Name</h4>
                    <input id="name" type="name">
                </label>
                <label for="email">
                    <h4>Email</h4>
                    <input id="email" type="email">
                </label>
                <button>Update</button>
            </form>
            <form action="">
                <h2> Change Password</h2>
                <label for="oldPassword">
                    <h4>Old Password</h4>
                    <input id="oldPassword" type="password">
                </label>
                <label for="password">
                    <h4>Password</h4>
                    <input id="password" type="password">
                </label>
                <label for="confirmPassword">
                    <h4>Confirm Password</h4>
                    <input id="confirmPassword" type="password">
                </label>
                <button>Change Password</button>

            </form>
        </div>
    </main>
</body>

</html>