<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="index.js" defer></script>
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Logo</a>
            <a href="">Home</a>
            <a href="">Shop</a>
            <a href="">Contact</a>
            <a href="">About</a>
        </nav>
        <div class="info">
            <a href=""><i class="far fa-heart"></i></a>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
            <div class="drop-down">
                <a><i class="fas fa-user-circle"></i> <span>Sukh</span></a>
                <div class="drop-down-content">
                    <a href="">Logout</a>
                    <a href="">Profile</a>
                    <a href="">Signup</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="form-content">
            <div class="form-wrap">
                <h1>Signin to your Account</h1>
                <form id="signin-form">
                    <label for="email">
                        <h4>Email</h4>
                        <input id="email" type="email" name="">
                    </label>
                    <label for="password">
                        <h4>Password</h4>
                        <input id="password" type="password" name="">
                    </label>
                    <a href="">Forget password?</a>
                </form>
                <button id="signinBtn">Sign In</button>
                <div class="links"><a href="">Privacy Policy</a><a href="">Terms &amp; Conditions</a></div>
            </div>
            <div class="go-to go-to-signup"><a href="/login">Go to Signup</a></div>
        </div>
    </main>
    <footer>
        <div class="links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="far fa-envelope"></i>
        </div>
        <h2>LOGO</h2>
        <p>Get Latest Products at Discount</p>
    </footer>
</body>

</html>