@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

input,
button {
    outline: none;
    border: none;
    font-family: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

body {
    background: rgb(245, 245, 245);
}


#alert-dialog {
    background: #3fec6a;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
    position: fixed;
    top: -110%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2rem 1.5rem;
    border-radius: 0 0 3px 3px;
    color: white;
    text-align: center;
    min-width: 30%;
    max-width: 50%;
    transition: .7s top;
}

#notify-dialog {
    background: rgb(37, 37, 37);
    background: red;
    font-size: 1rem;
    text-transform: capitalize;
    position: fixed;
    bottom: -110%;
    left: 5%;
    padding: 1rem;
    border-radius: 3px 3px;
    color: white;
    text-align: center;
    transition: .7s bottom;
    cursor: pointer;
}


.flex-container {
    display: flex;
    align-items: center;
}

header {
    padding: 0 3rem;
    background: #253dd5;
}

header .logo img {
    width: 7rem;
    object-fit: cover;
    /* background: red; */
    height: 2rem;
}

header a {
    color: white;
    font-weight: 500;
    margin: 0 1rem;
    padding: .5rem;
}

nav a:not(.logo)::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #ec483f;
    content: '';
    transition: .2s height;
    border-radius: 3px;
}

nav a:hover::after {
    height: 0.2rem;
}


header .buttons {
    margin-left: auto;
    /* background: green; */
}


.drop-down {
    position: relative;

}

.drop-down-content {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: .7rem 0;
    display: none;
    transform: translate(-50%, 0);
    border-radius: 3px;
    z-index: 11;
}

.drop-down-content a {
    display: block;
    margin: 0;
    background: rgb(236, 236, 236);
    padding: .7rem 3rem;
    color: rgb(37, 37, 37);

}

.drop-down-content a:hover {
    background: rgb(90, 90, 90);
    color: white;
}


.drop-down:hover .drop-down-content {
    display: block;
}





header .buttons>div {
    display: inline-block;
    cursor: pointer;
    margin: 0 1rem;
}

header .buttons i {
    color: white;
    font-size: 1.1rem;

}

#user-btn #current-user a {
    background: #00ba93;
    padding: .5rem 1.5rem;
    border-radius: 50px;
}

#user-btn img {
    border-radius: 50%;
    width: 2rem;
}

#user-btn .user-name {
    font-weight: 600;
    color: white;
    display: inline-block;
    margin-left: .4rem;
    font-size: 1.1rem;
}

#add-wrap {
    background: red;
    position: relative;
}

#add-wrap video {
    width: 100%;
    height: 95%;
    object-fit: cover;
}

#add {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.349);
    height: 100%;
    width: 100%;
    display: flex;
}

#add div {
    margin: auto;
    text-align: center;
}





#add a {
    margin: 1rem 0;
    background: #fcb332;
    color: white;
    font-weight: bold;
    padding: .5rem 2rem;
    border-radius: 50px;
}




/* shop page */

main {
    padding: 1rem;
}

#all-products {
    justify-content: space-between;
    padding: 2rem 0;
}

.product {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    width: 25%;
    text-align: center;
    box-shadow: 0px 2px 8px rgb(219, 219, 219);
    /* padding: 1rem 0; */
}

.product .name {
    color: rgb(37, 37, 37);
}



.product img {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    padding: .5rem;
    background: white;
}



.product .price {
    color: #00ba93;
}

.product .flex-container {
    justify-content: space-between;
    padding: 0 1rem;
    margin: 1rem 0;
}

.product .rating {
    margin: 1rem 0;
}

.product .rating,
#detail-wrap .rating {
    color: #e0e0e0;
}

.product .rating i,
#detail-wrap .rating i {
    margin: 0 .3rem;
}


.product .rating .active,
#detail-wrap .rating .active {
    color: #fcb332;
}

.product .view {
    background: #fcb332;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.product .view a {
    color: white;
    padding: .2rem 1rem;

}



.product .add-to-cart {
    background: #00ba93;
    color: white;
    padding: 1rem;
    /* border-radius: 50px; */
    cursor: pointer;
}

.product .add-to-cart i {
    margin-right: .5rem;
}


/* forms */



.form {
    background: #ffffff;
    width: 45%;
    margin: auto;
    padding: 1rem 5rem;
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgb(231, 231, 231);

}

.form h1 {
    text-align: center;
    color: #fcb332;
}

.form label {
    display: block;
    margin-top: 1rem;
}

.form label p {
    color: #00ba93;
    font-size: 1.2rem;
    font-weight: 500;
}




.form .input-wrap {
    display: flex;
    align-items: center;
    padding: .7rem;
    margin: .2rem 0;
    color: rgb(63, 63, 63);
    border-radius: 2px;
    background: rgb(238, 238, 238);
}

.form input {
    background: none;
    width: 100%;
    padding: 0 .5rem;
    /* padding: 1rem; */
}


.form button {
    margin: 1rem auto;
    display: block;
    background: #fcb332;
    color: white;
    padding: .5rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
}

.form .link {
    text-align: center;
    margin: .5rem 0;
}



/* product page */
#detail-wrap {
    align-items: flex-start;
    background: white;
    border-radius: 3px;
    padding: 1rem;
}



#detail-wrap>div {
    width: 45%;
}

#detail-wrap .images {
    background: white;
    width: 55%;

}


#detail-wrap .images>img {
    width: 100%;
}

#detail-wrap .more-images {
    justify-content: space-between;
    margin: .5rem 0;
}

#detail-wrap .detail {
    padding-left: 1rem;
}


#detail-wrap .detail>* {
    margin: 1rem 0;
}


#detail-wrap .more-images>img {
    width: 20%;
    height: 6rem;
    object-fit: contain;
    cursor: pointer;
    border: 2px rgb(233, 233, 233) solid;
    padding: .5rem;
    border-radius: 3px;
}



#detail-wrap #quantity-wrap {
    background: rgb(228, 228, 228);
    padding: .3rem;
}

#detail-wrap input {
    padding: .5rem;
    background: none;
}


#detail-wrap .buttons {
    padding: .5rem 0;
    /* background: red; */
}

#detail-wrap button.add-to-cart {
    background: #fcb332;
    color: white;
    padding: .7rem 2rem;
    margin-right: 1rem;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;

}

#detail-wrap button i {
    margin-right: .2rem;
}


#detail-wrap button.add-to-wishlist {
    font-size: 1rem;
    cursor: pointer;
    background: none;
    font-weight: 500;
}

#reviews-wrap {
    margin: 1rem 0;
    padding: 1rem;
    background: white;
    border-radius: 3px;

}


#reviews-wrap h1 {
    color: #00ba93;
    margin-bottom: 2rem;
}


.review {
    align-items: flex-start;
    margin: 1rem 0;
    padding-bottom: .4rem;
    border-bottom: 2px rgba(214, 214, 214, 0.192) solid;
}


.review .review-user-name {
    text-transform: capitalize;
}


.review h2 {
    color: rgb(44, 44, 44);
}



.review img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.review .rating {
    margin: .3rem 0;
    display: inline-block;
    color: #fcb332;
}


#add-review {
    display: flex;
    align-items: center;
}

#add-review form {
    width: 100%;
}

#add-review input {
    width: 30%;
    background: rgb(231, 231, 231);
    padding: 0.5rem;
    border-radius: 2px;
    font-size: 1.1rem;
}

#add-review button {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 50px;
    cursor: pointer;
    background: #00ba93;
    color: white;

}




/* cart page  */
h2.centre {
    text-align: center;
}

#cart-products {
    width: 70%;
    margin: auto;
    padding: 1rem;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgb(219, 219, 219);

}

#cart-products .cart-product {
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    border-bottom: 2px solid rgba(128, 128, 128, 0.144);
    padding-bottom: 1rem;

}

#cart-products img {
    width: 5rem;
    height: 4rem;
    object-fit: contain;
    padding: .2rem;
    border: 2px #8080803b solid;
    border-radius: 3px;
}


#cart-products .cart-product .name a {
    color: #fcb332;
}

#cart-products .cart-product .name a:hover {
    text-decoration: underline;
}


#cart-products .cart-product button {
    background: #ec483f;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(243, 243, 243);
    padding: .3rem 1rem;
    border-radius: 3px;

}