header.flex-container
  nav
    a.logo(href='/') Logo
    a(href='/') Mobiles
    a(href='/') Tablets
    a(href='/') Computers
    a(href='/') All
  .buttons.flex-container
    .fav-button
      a(href='')
        i.far.fa-heart
    .cart-button
      a(href='')
        i.fas.fa-shopping-cart
    .profile-button
      .dropdwon
        span.username
          img(src='me.JPG' alt='')
          | Sukh
